*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.hi
*.o
.cabal-sandbox/
.direnv/
.hpc
.hsenv
.tool-versions
cabal-dev
dist
cabal.project.freeze
cabal.project.local
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
dist-newstyle
result
nix/
.ghc.environment.*
.tmuxinator.yml
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
