dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.cabal-sandbox/
.hpc
.hsenv
.tool-versions
cabal.project.freeze
cabal.project.local
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
dist-newstyle
result
nix/
shell.nix
