*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.hi
*.o
.cabal-sandbox/
.direnv/
.envrc
.hpc
.hsenv
.tool-versions
cabal-dev
dist
cabal.project.freeze
cabal.project.local
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
dist-newstyle
result
nix/
.ghc.environment.*
