---
name: Build

on: push

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  haskell:
    strategy:
      matrix:
        os:
          - macos-13      # x86_64-darwin
          - macos-latest  # aarch64-darwin
          - ubuntu-latest # x86_64-linux
      fail-fast: true
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v12
        with:
          extra-conf: accept-flake-config = true
      - uses: DeterminateSystems/magic-nix-cache-action@v7
      - name: Compile code
        run: nix build .#test
      - name: Run tests
        run: nix run .#test

  docker:
    if: false
    uses: ./.github/workflows/reusable-docker.yml
    with:
      push: false
